In [1]:
import pandas
import openpyxl 
# openpyxl é uma biblioteca feita para a leitura e escrita de planilhas excel

In [2]:
df1 = pandas.read_excel("datasets/Aracaju.xlsx")
df2 = pandas.read_excel("datasets/Fortaleza.xlsx")
df3 = pandas.read_excel("datasets/Natal.xlsx")
df4 = pandas.read_excel("datasets/Recife.xlsx")
df5 = pandas.read_excel("datasets/Salvador.xlsx")

# Leitura de todos os arquivos que vão ser utilizados

In [3]:
df = pandas.concat([df1,df2,df3,df4,df5])
# Concatenação de todos os arquivos

In [4]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8